/* Source Sans */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap')

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap')

$fonte: 'Source Sans Pro', sans-serif
$raleway: 'Raleway', sans-serif

@mixin align
    display: flex
    justify-content: center
    align-items: center