/* Source Sans */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
/* Source Sans */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid black;
  color: #FAFAFA;
  background-color: #242121;
  width: 100vw;
  height: 7vh;
}
header .navbar, footer .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}
header .navbar .nav_link, footer .navbar .nav_link {
  text-decoration: none;
  color: #FAFAFA;
}

/* Source Sans */
/* Raleway */
main {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
}
main .message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 86vh;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.7em;
}
main .message .my_name {
  color: #3E47CB;
}
main .message .devweb {
  font-family: "Source Sans Pro", sans-serif;
}
main .message button.more {
  background-color: #3E47CB;
  border-radius: 8px;
  border: 1px solid #3E47CB;
  padding: 5px 15px;
  margin: 20px;
  font-size: 17px;
}
main .message button.more a.more_link {
  text-decoration: none;
  color: #fafafa;
}

/* Source Sans */
/* Raleway */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FIRST SECTION */
.about_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 5vh;
}
.about_sec .about_div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.about_sec .about_me, .about_sec .about_skills {
  max-width: 450px;
}

/* SECOND SECTION */
.skills_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 15px;
  margin: 40px 0px;
  /* OUTSIDE TITLE */
  /* EACH LIST */
}
.skills_sec h2.skills_title {
  width: 80%;
  font-size: 28.8px;
  padding: 10px 20px;
}
.skills_sec div.skills_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
  padding: 20px;
  line-height: 1.6em;
  /**/
  border: 1px solid black;
  border-radius: 8px;
}
.skills_sec div.skills_list div.list_header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.skills_sec div.skills_list .skills_icon {
  width: 25px;
  height: 25px;
  justify-self: right;
}
.skills_sec div.skills_list .exp_arrow {
  display: block;
  width: 18px;
  height: 18px;
  transform: rotate(-90deg);
}
.skills_sec div.skills_list ul.collapsed {
  display: none;
}
.skills_sec div.skills_list ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}/*# sourceMappingURL=style.css.map */