@import "partials/_mixins";
@import "partials/_navbar";
@import "partials/_landpage";
@import "partials/_mainpage";
@import "partials/_about";

* {
    margin: 0;
    padding: 0;
    font-family: $fonte;
}